<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
		<title>ChinaZ</title>
		<!-- ALL STYLESHEET -->
        <link th:href="@{/frontend/css/bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/frontend/css/font-awesome.min.css}" rel="stylesheet">
		<link th:href="@{/frontend/css/style.css}" rel="stylesheet">
		<link th:href="@{/frontend/css/responsive.css}" rel="stylesheet">
    </head>
	<body>
		
		<!-- header -->
		<header class="header">
			<!-- logo and adds -->
			<div class="logo-add">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="logo"><i class="fa fa-diamond"></i>惠泽通</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- header bottom -->
			<div class="header-bottom">
				<div class="row">
					<div class="col-sm-12">
						<nav class="navbar navbar-default">
							<div class="container">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-bottom" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>

								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="header-bottom">
									<ul class="nav navbar-nav">
										<li class="active"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a></span>
											<ul class="dropdown-menu">
												<li><a href="index.html">Home Page</a></li>
												<li><a href="index-2.html">Home Page 2</a></li>
											</ul>
										</li>
										<li><a href="product-detail.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop</a><span class="label label-danger text-center hidden-xs">New <i class="fa fa-caret-right"></i></span>
											<ul class="dropdown-menu">
												<li><a href="product.html">Products</a></li>
												<li><a href="product-detail.html">Product Details</a></li>
												<li><a href="new-product.html">New Products</a></li>
											</ul>
										</li>
										<li><a href="faq.html">FAQ</a></li>
										<li><a href="about-us.html">About Us</a> <span class="label label-info text-center hidden-xs">New <i class="fa fa-caret-right"></i></span></li>
										<li><a href="contact-us.html">Contac Us</a></li>
									</ul>
								</div>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</header>	
		
		<!-- 轮播图 -->
		<section class="home">
			<div class="intro">
				<div id="home" class="carousel slide" data-ride="carousel">
					<ol id="banner-indicators" class="carousel-indicators"></ol>
					<div id="banner-item" class="carousel-inner" role="listbox"></div>
					<!-- Controls -->
					<a class="left carousel-control" href="#home" role="button" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a class="right carousel-control" href="#home" role="button" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>
			</div>
		</section>	

		<!-- featured product -->
		<section class="featured-product">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="">
							<h1><span class="t-color-1">特色</span> 产品</h1>
							<div class="heading-border b-color-1"></div>
						</div>
					</div>
				</div> <!-- section title -->
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					<!--翻页按钮-->
					<ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"><i class="fa fa-angle-left"></i></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"><i class="fa fa-angle-right"></i></li>
					</ol>
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<div class="row">
								<div class="col-sm-3" th:each="feature: ${features1}">
									<div class="thumbnail">
										<span class="service-link text-center">
											<!--产品图片-->
											<img class="img-responsive" th:src="@{'/product/preview?productId='+${feature.id}}" width="230px" height="187px">
											<!--产品图片链接-->
											<div class="list-inline">
												<a href=""><i class="fa fa-eye"></i></a>
												<a href=""><i class="fa fa-link"></i></a>
											</div>
										</span>
										<div class="caption">
                                            <div class="category">[[${feature.name}]]</div>
											<!--产品描述-->
											<h3 class="description">[[${feature.description}]]</h3>
											<!--产品价格-->
											<strong>$[[${feature.price}]]</strong>
											<!--添加到购物车-->
											<div><a href="#" class="btn btn-default" role="button">Add to Cart</a><span class="pull-right"><i class="fa fa-heart-o"></i> Add to Wishlist</span></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
                                <div class="col-sm-3" th:each="feature: ${features2}">
                                    <div class="thumbnail">
										<span class="service-link text-center">
											<!--产品图片-->
											<img class="img-responsive" th:src="@{'/product/preview?productId='+${feature.id}}" width="230px" height="187px">
                                            <!--产品图片链接-->
											<div class="list-inline">
												<a href=""><i class="fa fa-eye"></i></a>
												<a href=""><i class="fa fa-link"></i></a>
											</div>
										</span>
                                        <div class="caption">
                                            <div class="category">[[${feature.name}]]</div>
                                            <!--产品描述-->
                                            <h3 class="description">[[${feature.description}]]</h3>
                                            <!--产品价格-->
                                            <strong>$[[${feature.price}]]</strong>
                                            <!--添加到购物车-->
                                            <div><a href="#" class="btn btn-default" role="button">Add to Cart</a><span class="pull-right"><i class="fa fa-heart-o"></i> Add to Wishlist</span></div>
                                        </div>
                                    </div>
                                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>		
		
		<!-- middle ads -->
		<section class="emarket-adds">
			<div class="container">
				<div class="row">
					<div class="col-sm-4" th:each="middleAds: ${middleAdsList}">
						<!--<div class="single-add">-->
							<!--<h4>Get <span>50%</span> Discount</h4>-->
							<!--<a href="#" class="btn btn-default" role="button">Learn More</a>-->
							<img class="img-responsive img-thumbnail" th:src="'data:image/jpeg;base64,'+${middleAds.imgStr}"/>
						<!--</div>-->
					</div>
				</div>
			</div>
		</section>	

		<!-- special price -->
		<section class="special-price">
			<div class="price-intro">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="pull-left">
								<blockquote>
								<h1> iPhone 6 16Gb Gold</h1>
								<p>Cicero famously orated against his political opponent Lucius Sergius against his political. </p>
								</blockquote>
							</div>

							<div class="pull-right"><a class="btn btn-default btn-lg"> Call to Action</a>
							</div> 
						</div>
					</div> <!-- section title -->

				</div>
			</div>
		</section>	
			
		<!-- product info -->
		<section class="product-info">
			<div class="container">
				<div class="row">	
					<div class="col-sm-4">
						<h1><span class="t-color-3">汽配</span></h1>
						<div class="heading-border b-color-3"></div>
						<ul class="media-list">
							<li class="media" th:each="autoPart:${autoParts}">
								<div class="media-left text-center" >
									<img class="" th:src="@{'/product/preview?productId='+${autoPart.id}}" width="122px;" alt="">
									<a href="#"><i class="fa fa-eye"></i></a>
								</div>
								<div class="media-body">
							    <h3 class="media-heading">[[${autoPart.name}]]</h3>
									<div class="category">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
									</div>
									<strong>$[[${autoPart.price}]]</strong>
								</div>
							</li>

						</ul>
					</div>
					<div class="col-sm-4">
						<h1><span class="t-color-4">蓝牙音箱</span></h1>
						<div class="heading-border b-color-4"></div>
						<ul class="media-list">
							<li class="media" th:each="speaker:${blueSpeaker}">
								<div class="media-left text-center" >
									<img class="" th:src="@{'/product/preview?productId='+${speaker.id}}" width="122px;" alt="">
									<a href="#"><i class="fa fa-eye"></i></a>
								</div>
								<div class="media-body">
									<h3 class="media-heading">[[${speaker.name}]]</h3>
									<div class="category">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
									</div>
									<strong>$[[${speaker.price}]]</strong>
								</div>
							</li>

						</ul>
					</div>	
					<div class="col-sm-4">
						<h1><span class="t-color-5">儿童玩具</span></h1>
						<div class="heading-border b-color-5"></div>
						<ul class="media-list">
							<li class="media" th:each="singletoy:${toy}">
								<div class="media-left text-center" >
									<img class="" th:src="@{'/product/preview?productId='+${singletoy.id}}" width="122px;" alt="">
									<a href="#"><i class="fa fa-eye"></i></a>
								</div>
								<div class="media-body">
									<h3 class="media-heading">[[${singletoy.name}]]</h3>
									<div class="category">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
									</div>
									<strong>$[[${singletoy.price}]]</strong>
								</div>
							</li>

						</ul>
					</div>	
				</div>
			</div>
		</section>	

		<footer>
			<div class="footer-top">
				<div class="container">			
					<div class="row">	
						<div class="col-sm-6">
							<h2>About E-Market</h2>
							<div class="heading-border b-color-1"></div>
							<p>Nam apeirian assentior ei, utquo eros posse verterem. Cum eu error congue saperet. Te eam exerci vulputate consetetur, 								causae consulatu eaper,  apeirian assentior ei, utquo eros posse verterem. Cum eu error congue saperet. Te eam exerci 								vulputate consetetur, causae consulatu eaper</p>
							<div><a href="">Read More <i class="fa fa-angle-double-right"></i></a></div>
							<strong>Newsletter</strong>
							<form class="navbar-for" role="email">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Email Address">
									<span class="nav-search"><a href="#"><i class="fa fa-envelope"></i></a></span>
								</div>	
							</form>
							<small>Eros posse verterem congue saperet.</small>
						</div>
						<div class="col-sm-6">
							<h2>Contact us</h2>
							<div class="heading-border b-color-1"></div>
							<strong class="media-heading">Address</strong>
							<p>Lebel 2, 13 Elezabe St, Melbounire, Victoria 3000, +8492575, USA</p>

							<strong class="media-heading">Phone & Fax</strong>
							<p>+880183947930</p>
							<p>+(980)1839479</p>

							<strong class="media-heading">E-Mail Address</strong>
							<p>support@gmail.com</p>
							<p>example@gmail.com</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
			
        <!-- ALL JAVASCRIPT -->         
        <script th:src="@{/frontend/js/jquery.js}"></script>
		<script th:src="@{/frontend/js/bootstrap.min.js}"></script>
		<script type="text/javascript">
			function initBanner(){
			    $.ajax({
					url:'[[@{/homepage/banner/img/preview}]]',
					success:function (data) {
                        for(var i in data.data){
                            var index = data.data[i].index
                            var imgStr = data.data[i].imgStr
                            var indicatorLi
                            var carouselItem
                            if(index==0){
                                 // carouselItem = '<div class="item active"><div class="container"><div class="row"><div class="col-sm-7"><div class="intro-content"><h1>Last Chance</h1><h2>Biggest <span class="highlight">Sale</span></h2><p>Nam apeirian assentior ei, utquo eros posse verterem. Cum eu error congue saperet. Teer eam exerci vputate consetetur.</p>a class="btn btn-default">Shop Now</a></div></div><div class="col-sm-5">' +
                                 //    '<img class="img-responsive" src="data:image/jpeg;base64,'+imgStr+'" height="742" alt="" />' +
                                 //    '</div></div></div></div>'
                                carouselItem = ' <div class="item active"><img class="d-block w-100" src="data:image/jpeg;base64,'+imgStr+'"/></div>'


                                indicatorLi =  '<li data-target="#home" data-slide-to="'+index+'" class="active"></li>'
                            }else {
                                indicatorLi =  '<li data-target="#home" data-slide-to="'+index+'"></li>'

                                // carouselItem = '<div class="item"><div class="container"><div class="row"><div class="col-sm-5">' +
                                //     '<img class="img-responsive" src="data:image/jpeg;base64,'+imgStr+'" alt="" />' +
                                //     '</div></div></div></div>'
                                carouselItem = ' <div class="item"><img class="d-block w-100" src="data:image/jpeg;base64,'+imgStr+'"/></div>'

                            }
                            $('#banner-indicators').append(indicatorLi)
                            $('#banner-item').append(carouselItem)
                        }
                    }
				})


			}

			function initProductCategory(){

			}

			$(function () {

			    console.log('[[${toy}]]')
			    console.log('[[${autoParts}]]')
			    console.log('123')
                initBanner()

			    //文字转...
                $(".description").each(function() {
                    var maxwidth =12;//显示多少字符
                    if ($(this).text().length > maxwidth) {
                        $(this).text($(this).text().substring(0, maxwidth));
                        $(this).html($(this).html() + '...');
                    }
                });

            })
		</script>
    </body>
</html>