<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
          http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">


	<bean id="user1" class="hello.entity.User"></bean>
	<bean id="user2" class="hello.entity.User"></bean>
	<bean id="aoo" class="hello.ioc.bean.Aoo">
		<property name="stringArr">
			<list>
				<value>1</value>
				<value>2</value>
				<value>3</value>
			</list>
		</property>
		<property name="users">
			<list>
				<ref bean="user1"></ref>
				<ref bean="user2"></ref>
			</list>
		</property>
		<property name="userList">
			<list>
				<ref bean="user1"></ref>
				<ref bean="user2"></ref>
			</list>
		</property>
		<property name="userMap" >
			<map>
				<entry key="1" value-ref="user1"></entry>
				<entry key="2" value-ref="user2"></entry>
			</map>
		</property>
		<property name="userSet">
			<set>
				<ref bean="user1"></ref>
				<ref bean="user2"></ref>
			</set>
		</property>
	</bean>

</beans>
