<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

</head>
<body>
<!--log-->
<div class="sidebar-header">
    <div class="logo">
        <a th:href="index.html"><img th:src="@{/assets/images/icon/logo.png}" alt="logo"></a>
    </div>
</div>
<!--菜单-->
<div class="main-menu">
    <div class="menu-inner">
        <nav>
            <ul class="metismenu" id="menu">
                <li id="product">
                    <a href="javascript:void(0)" aria-expanded="true"><i class="ti-dashboard"></i><span>产品设置</span></a>
                    <ul class="collapse">
                        <li id="autoParts"><a th:href="@{/manage/product/autoParts}">汽配</a></li>
                        <li id="blueSpeaker"><a th:href="@{/manage/product/blueSpeaker}">蓝牙音箱</a></li>
                        <li id="toy"><a th:href="@{/manage/product/toy}">儿童玩具</a></li>
                    </ul>
                </li>

                <li id="homepage">
                    <a href="javascript:void(0)" aria-expanded="true"><i class="ti-dashboard"></i><span>首页配置</span></a>
                    <ul class="collapse">
                        <li id="features"><a th:href="@{/homepage/features}">特色产品</a></li>
                        <li id="banner"><a th:href="@{/homepage/banner}">横幅图片</a></li>
                        <li id="middleads"><a th:href="@{/homepage/middleads}">中栏广告</a></li>
                        <li id="contactus"><a th:href="@{/homepage/contactus}">联系我们</a></li>
                        <li id="aboutus"><a th:href="@{/homepage/aboutus}">关于我们</a></li>
                    </ul>
                </li>

                <li id="order">
                    <a href="javascript:void(0)" aria-expanded="true"><i class="ti-layout-sidebar-left"></i><span>订单管理</span></a>
                    <ul class="collapse">
                        <li><a th:href="index.html">查看订单</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script th:inline="javascript">
    var menuId = [[${menuId}]];
    var menuPid = [[${menuPid}]];
    window.menuId = menuId;
    window.menuPid = menuPid;
    window.onload = function() {
        $('#'+menuPid).find('a').trigger('click');
        $('#'+menuId).addClass('active');
    };
</script>
</body>
</html>