<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanhu.work.mapper.UploadFileConfigMapper" >
  <resultMap id="BaseResultMap" type="com.lanhu.work.pojo.UploadFileConfig" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="file_type" property="fileType" jdbcType="VARCHAR" />
    <result column="file_size" property="fileSize" jdbcType="INTEGER" />
    <result column="file_max" property="fileMax" jdbcType="INTEGER" />
    <result column="file_suffix" property="fileSuffix" jdbcType="VARCHAR" />
    <result column="file_bucketname" property="fileBucketname" jdbcType="VARCHAR" />
    <result column="file_baseossuri" property="fileBaseossuri" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, file_type, file_size, file_max, file_suffix,file_bucketname,file_baseossuri
  </sql>
  <select id="findByFileType" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from upload_file_config
    where file_type = #{fileType,jdbcType=VARCHAR}
  </select>
</mapper>