<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanhu.work.mapper.UserAccessLogMapper" >

    <resultMap id="BaseResultMap" type="com.lanhu.work.pojo.UserAccessLog" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="token" property="token" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="access_type" property="accessType" jdbcType="CHAR" />
        <result column="ip" property="ip" jdbcType="VARCHAR" />
        <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, user_id, token, create_time, access_type, ip, uuid
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from user_access_log
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from user_access_log
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.lanhu.work.pojo.UserAccessLog" >
        insert into user_access_log (id, user_id, token, 
            create_time, access_type, ip, 
            uuid)
        values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{token,jdbcType=VARCHAR}, 
            now(), #{accessType,jdbcType=CHAR}, #{ip,jdbcType=VARCHAR}, 
            #{uuid,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.lanhu.work.pojo.UserAccessLog" >
        insert into user_access_log
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="token != null" >
                token,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="accessType != null" >
                access_type,
            </if>
            <if test="ip != null" >
                ip,
            </if>
            <if test="uuid != null" >
                uuid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="token != null" >
                #{token,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="accessType != null" >
                #{accessType,jdbcType=CHAR},
            </if>
            <if test="ip != null" >
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="uuid != null" >
                #{uuid,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.lanhu.work.pojo.UserAccessLog" >
        update user_access_log
        <set >
            <if test="userId != null" >
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="token != null" >
                token = #{token,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="accessType != null" >
                access_type = #{accessType,jdbcType=CHAR},
            </if>
            <if test="ip != null" >
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="uuid != null" >
                uuid = #{uuid,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.lanhu.work.pojo.UserAccessLog" >
        update user_access_log
        set user_id = #{userId,jdbcType=BIGINT},
            token = #{token,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            access_type = #{accessType,jdbcType=CHAR},
            ip = #{ip,jdbcType=VARCHAR},
            uuid = #{uuid,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>